body , html, main{
    margin: 0 auto;
    padding: 0;
    width: auto;
    background-color: #F5F5F5;
   /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%239C92AC' fill-opacity='0.14'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");*/
}

@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

main {
    visibility: hidden;
}


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #5fa6f2;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

.covid {
    /*text-align: center;*/
    height: 3.5em;
    padding: 0.5em;
    font-family: 'Roboto Mono', monospace, sans-serif, Arial, Helvetica;
    position: sticky;
    top: 0;
    z-index: 101;
    background-color: #fff;
}

h1  {
    color: rgba(230, 57, 70, 0.85);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

h1 img {
    height: 45px;
    margin-right: .4em;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.map-info {
    display: flex;
    justify-content: center;
    background-color: #fdfdfd;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 1em;
    /*border: 2px solid #e7555f;*/
    /*box-shadow: 0px 0px 6px 0px #969798;*/
    /*height: 66vh;*/
    height: fit-content;
    padding: 5px 15px 13px 15px;
    width: 96%;
}

.map-control {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 68px;
    padding: 15px 5px 0 5px;
}

.search-container {
    margin-left: 1%;
    margin-bottom: 1em;
}

.no_result:hover {
    cursor: default;
    background-color: #fff;
    border: 0.05rem solid #e3e3e3;
}

.no_result:focus {
    cursor: default;
    background-color: #fff;
    border: 0.05rem solid #e3e3e3;
}

.selection {
    margin-top: 25vh;
    font-size: 2rem;
    font-weight: bold;
    color: #ffc6c6;
    transition: var(--transition-1);
}

.selection::selection {
    color: #64ceaa;
}

.map-view-btns-container {
    display: flex;
    justify-content: space-between;
    padding: 7px 5px 21px 5px;
}

.TotalCases,
.Recovered,
.deaths {
    width: 180px;
    height: 40px;
    border-radius: 2em;
    text-align: center;
    cursor: pointer;
    outline: 0;
    transition: .5s linear;
}

.TotalCases {
    border: none;
    color:  #0265cf;
    background-color: #e2ecf6;
}
 
.Recovered {
    border: none;
    background-color: #c9f7f5;
    color: #0c7973;
}

.deaths {
    border: none;
    color: #d10a1e;
    background-color: #FFE2E5;
}

.TotalCases:hover,
.Recovered:hover,
.deaths:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 6px 0px #969798;
}

.TotalCases:active,
.Recovered:active,
.deaths:active {
    outline: none;
}

.TotalCases:focus,
.Recovered:focus,
.deaths:focus {
    outline: 0;
}

.map-container {
    width: 67%;
    /*height: 669px;*/
}

#map {
    /*left: 50%;
    right: 50%;
    transform: translateX(-50%);*/
    /*margin: auto;*/
    border-radius: 1.5em;
   /* box-shadow: 0px 0px 6px 0px #969798;*/
}

#map,
.mapboxgl-canvas {
    height: 400px;
}

.mapboxgl-canvas {
    width: inherit;
}

.mapboxgl-popup-content {
    width: fit-content;
    border-radius: 1em;
    background-color: #fdfdfd;
    padding: 5px 5px;
}

.mapboxgl-popup-close-button {
    font-size: 30px;
    color: #457b9d;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: #fdfdfd;
}

#autoComplete,
#autoComplete:focus,
#autoComplete:hover {
    width: 18rem;
    border: .05rem solid #457b9d;
    caret-color: #457b9d; 
    color: #457b9d;
    background-image: url(./magnifier.svg);
    box-shadow: 0px 0px 3px 0px #969798;
}


#autoComplete.focus-visible {
    color: #3182bd;
}

#autoComplete:focus::placeholder,
#autoComplete:hover::placeholder{
    color: #bdd7e7;
}

.autoComplete_selected,
.autoComplete_selected:hover,
.autoComplete_result:hover {
    border-left: 2px solid #3182bd;
    border-right: 2px solid #3182bd;
}

.autoComplete_highlighted,
.autoComplete_result,
.autoComplete_highlighted:hover  {
    opacity: 1;
    color: #3182bd;
}


#autoComplete_list {
    position: absolute;
    z-index: 100;
    margin-top: 0;
    margin-right: auto;
    width: 18rem;
    transition: all .1s ease-in-out;
    -webkit-transition: all -webkit-transform .1s ease;
    margin-left: 29.5%!important;
}

#autoComplete ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.no_result {
    margin: 0.15rem auto;
    padding: 0.6rem;
    max-width: 280px;
    border: 0.05rem solid #e3e3e3;
    list-style: none;
    text-align: left;
    font-size: 1.1rem;
    color: rgb(123, 123, 123);
    transition: all 0.1s ease-in-out;
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    outline: none;
}
 
.country-info-info {
    border-right: 1px solid #d3d3d3;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
}

.country-info-cases {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.country-info-window {
    width: 25.5em;
    height: fit-content;
    display: flex;
    width: fit-content;
}


.selected-country-name {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.flag {
    margin-bottom: 1em;
}

.country-name-tests {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.flag img {
    width: 10em;
    height: 6em;
    border-radius: 10px;
    border: 1px solid;
}

.country-info-stats-cases,
.country-info-stats-recovered,
.country-info-stats-deaths,
.country-tests {
    display: flex;
    align-items: baseline;
    font-size: 16px;
    letter-spacing: 1px;
    justify-content: left;
    padding: .1em;
    line-height: 0px;
}

.fa-chevron-right,
.fa-chevron-left {
    color: #457b9d;
    font-size: 20px;
    margin: 5px;
}
 
.data-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6em;
}

.card {
    width: 15em;
    height: 8em;
    border-radius: .8em;
   /* border: 1px solid #1d3557;*/
   /* background:  url(../assets/coronavirus_PNG20.png) no-repeat center   ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    margin: 1em 1.3em;
    transition: .5s linear;
    border: none!important;
}

.card:hover { 
    box-shadow: 0px 0px 8px 0px #bdd7e7;
}

.card-body {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.card-body p {
    font-size: 1em;
}

.country-tests-card {
    background-color: #fdfdfd;
    border-right: 5px solid #8b53f9!important;
    color: #8b53f9;
}

.country {
    font-size: 27px!important;
} 

.Totalcases-card {
    color: #0265cf;
    background-color: #4ba1fd1c;
    border-right: 5px solid!important;
}

.recovered-card {
    background-color: #c9f7f5;
    color: #0c7973;
    border-right: 5px solid!important;
}

.deaths-card {
    color: #f63c4f;
    background-color: #FFE2E5;
    border-right: 5px solid!important;
}

.location-card {
    display: none;
    width: fit-content;
    height: 8em;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    font-size: 1rem;
    margin-bottom: 0;
}

.country-name {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    left: 50%;
}
 
.country-stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
 
.country-stats-img {
    width: 80px;
}

.country-stats + p {
    margin-bottom: 15px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
    width: 31%;
}

.table-title {
    padding: 15px 0;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.table-title h3,
.map-title h3 {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 22px;
    padding: 0 5px;
    color: #24487b;
    margin-bottom: .5em;
}

.table-container {
    overflow-y: scroll;
    font-family: sans-serif;
    width: min-content;
    border-radius: 1em;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 460px;
    /*width: 316px;*/
    width: auto;
}

.table-container::-webkit-scrollbar {
    display: none;
}

table {
    width: 100%;
}

#table-data {
    border-spacing: 0;
    border-collapse: collapse;
}

.country-location {
    text-align: left;
    width: 140px;
    padding-left: 0;
    padding: 0 8px 12px 8px;
    font-weight: 400;
    font-size: 16px;
    position: sticky;
    top: 0;
    /*z-index: 1;*/
}

.metric {
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-head  {
    width: 100px;
    border-bottom: 1.5px solid #EEE5FF;
}

.table-head th {
    background-color: #a8dadc;
    font-size: 14px;
    padding: 10px 8px 12px 8px;
    color: #8b53f9;
    background-color: #f5f5f5;
}

td {
    padding: 8px  8px;
    text-align: right;
    font-weight: 700;
    background-color: #fdfdfd;
    font-size: 14px;
    vertical-align: bottom;
}

.loc {
    text-align: left;
    width: 140px;
    padding-left: 0;
    padding:  8px 8px;
    font-weight: 700;
    font-size: 14px;
    color:  #a175f8 ;
}

table tr {
    height: 40px;
}

.total,  .active {
    color: #0265cf;    
}

.today-cases{
    color: #ffba1a;
}

.cases {
    color: #026ad9 ;
}
/*#3182bd*/

.recovered {
    color: #0c7973 ;
}

.death, .new-deaths {
    color: #f63c4f;
}

.country-info,
.WorldWide {
    border-bottom: 1.5px solid #EEE5FF;
}

.charts-container {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
    padding: 0;
    width: 96%;
    margin: auto;
}

.chart-card {
    height: 29em;
    width: 33.5em;
    margin: 0;
    margin-top: 1.5em;
    background-color: #fdfdfd;
}

.line-chart {
    width: 41em;
}

.pie-chart {
    width: 26em;
}

.chartjs-render-monitor,
#myChart-linearChart,
canvas {
    height: 100%;
    width: 100%;
    margin: auto;
}

/*.news-container {
   padding: 30px;
}*/

.glide__arrow--left {
    left: -1em;
}

.glide__arrow--right {
    right: 0em;
}

.glide__slide {
   /* width: 300px;*/
    height: 400px;
    border: 2px solid #457b9d;
    border-radius: .5em;
    overflow: hidden;
    filter: blur(6px);
    opacity: .7;
    transition: .3s linear;
    background-color: #f7f7f7;
}

.glide__slides {
    overflow: visible;
    width: 100%!important;
}

.glide__slide--active {
    opacity: 1;
    filter: none;
    transform: scale(1.1);
} 

.glide__track {
    height: fit-content;
    padding: 30px; 
}

.glide__arrow {
    color: #343a40;
    border: 2px solid #457b9d;
}

/*.news-container-heading {
    font-family: sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 600;
    border-bottom: 1px solid #333;
    margin-bottom: 1em;
    position: sticky;
    z-index: 100;
}*/

.news-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.news-card {
    display: flex;
   /* border: 2px solid lightgray;
    border-radius: .5em;*/
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    height: inherit;
    width: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-cover {
    width: inherit;
    height: fit-content;
}

.news-cover img {
    width: inherit;
    height: 166px;
}

.news-info {
    padding: 1em 1em;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-link a {
    letter-spacing: 1px;
    line-height: 2em;
    font-size: 1.2em;
    text-decoration: none;
    transition: .3s linear;
}

.news-link a:hover {
    color: #ffc0cb;
}

.news-link a>i {
    font-size: .9em;
    padding-left: 0.5em;
}

.posting-time {
    font-size: .8em;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.news-source {
    font-size: 13px;
}

.news-card-title {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 1em;
}

.stay-safe-container {
    margin-top: 1em;
    background-color: #fdfdfd;
    border-radius: 1em;
    padding: 15px;
    height: fit-content;
    width: 23%;
}

.stay-safe-title,
.news-container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 500;
    font-family:   sans-serif, monospace, Arial, Helvetica;
    letter-spacing: 1px;
    color: #24487b;
    margin-bottom: 1em;
}

.stay-safe-title h3,
.news-container-title h3 {
    font-size: 2.2rem;
}

.stay-safe-instructions {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure img {
    width: 300px;
    height: 180px;
    margin-bottom: 1em;
    object-fit: contain;
}

figcaption {
    text-align: center;
    color: #193864;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: cursive, sans-serif, Arial, Helvetica ;
}

.about-covid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 1em;
}

.modal-title {
    width: 100%;
    color: #23406a;
}

.about-covid-definition {
    width: 70%;
    margin-bottom: 30px;
}

.about-covid-definition figure img {
    width: 450px;
    height: 450px;
}

.mx-auto {
    margin-right: 0 ;
}

.about-covid-definition h2 {
    text-align: center;
    color: #193864;
    letter-spacing: 1px;
    margin-bottom: 1em;
}

.about-covid-definition h2 img {
    width: fit-content;
}


.about-covid-definition p{
    font-size: 17px;
    margin-bottom: 20px;
}

.safty {
    display: flex;
    padding: 15px;
    background: #c2dff1;
    border-radius: 2em;
    flex-wrap: wrap;
}

.safty-container {
    width: 95%;
}
.safty img {
    width: 400px;
}

.safty ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: #f7f7f7;
    font-family: sans-serif, Arial, Helvetica ;
}

footer {
    background-color: #102643; 
    color: #fff;
    padding: 2em;
    font-size: 1em;
}

.about-author {
    margin-bottom: 1em;
}

h5 {
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-family: inherit;
}

.author-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-contact i {
    font-size: 2.2em;
    margin: .5em;
}

.about-data{
    width: fit-content;
    padding: 1em;
    font-family: inherit;
    letter-spacing: 1px;
    font-size: 1em;
    margin: auto;
    text-align: center;
}

h6 {
    /*text-align: center;*/
    /*color: #589dff;*/
    font-weight: 500;
    margin-bottom: 1em;
}

.data-source-link {
    color: #53a7f9;
    transition: .5s linear;
}

.data-source-link:hover {
    color: #ffc0cb;
    text-decoration: none;
}

.country-stats {
    padding: 15px 15px 0 15px;
}

.cases-number {
    font-size: 45px;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@media (min-width:2560px) {

    .covid {
        height: 6.5em;
        margin-bottom: 15px;
    }

    h1, .country {
        font-size: 3rem;
    }

    h1 img {
        height: 85px;
    }

    .card {
        width: 26.5em;
        height: 15em;
    }

    .card-title {
        font-size: 2.5rem;
    }

    .cases-number {
        font-size: 100px;
    }

    .country-stats-container {
        margin-bottom: 1rem;
    }

    #autoComplete, #autoComplete:focus, #autoComplete:hover {
        width: 25rem;
        height: 44px;
    }

    #map, .mapboxgl-canvas {
        height: 650px;
    }

    .TotalCases, .Recovered, .deaths {
        width: 280px;
        height: 55px;
        font-size: 1.7rem;
    }

    .table-title h3, .map-title h3 {
        font-size: 35px;
    }

    .table-container {
        height: 700px;
    }

    table tr {
        height: 60px;
    }

    td, .loc, .text-muted, figcaption, .selected-country-name, .table-head th {
        font-size: 25px;
    }

    .stay-safe-title h3, .news-container-title h3 {
        font-size: 3.2rem;
    }

    .flag img {
        width: 13em;
        height: 8em;
    }

    .line-chart {
        width: 75em;
        height: 35em;
    }

    .pie-chart {
        height: 35em;
        width: 36em;
    }

    figure img {
        height: 219px;
    }

    .country-info-stats-cases, .country-info-stats-recovered, .country-info-stats-deaths, .country-tests {
        font-size: 30px;
    }
}

@media (min-width: 1440px) {

    .covid {
        height: 2.7em;
    }

    h1, .country {
        font-size: 1.5rem;
    }

    h1 img {
        height: 32px;
    }


    .card {
        width: 14em;
    }

    td, .loc, .text-muted, .text-muted, .selected-country-name, .table-head th {
        font-size: 14px;
    }

    figcaption {
        font-size: 20px;
    }

    .TotalCases, .Recovered, .deaths {
        height: 35px;
    }

    #map, .mapboxgl-canvas {
        height: 350px;
    }

    .table-container {
        height: 410px;
    }

    table tr {
        height: 45px;
    }

    .line-chart {
        width: 41em;
    }

    .pie-chart {
        width: 21.5em;
    }
}
 

 
 