body , html{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100vw;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none;
}

.map-info {
    display: flex;
}

.no_result {
    margin: 0.15rem auto;
    padding: 0.6rem;
    max-width: 280px;
    border: 0.05rem solid #e3e3e3;
    list-style: none;
    text-align: left;
    font-size: 1.1rem;
    color: rgb(123, 123, 123);
    transition: all 0.1s ease-in-out;
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    outline: none;
  }

.no_result:hover {
    cursor: default;
    background-color: #fff;
    border: 0.05rem solid #e3e3e3;
}

.no_result:focus {
    cursor: default;
    background-color: #fff;
    border: 0.05rem solid #e3e3e3;
}

.selection {
    margin-top: 25vh;
    font-size: 2rem;
    font-weight: bold;
    color: #ffc6c6;
    transition: var(--transition-1);
}

.selection::selection {
    color: #64ceaa;
}

 


.chart-data {
    width: 90vw;
    margin: auto;
    position: relative;
    padding-top: 45px;
}

.chartjs-render-monitor {
    border: 1px solid blue;
    border-radius: 10px;
    width: 1382px;
    height: 691px;
    padding: 20px;
}

.geocoder {
    position: absolute;
    z-index: 1;
    width: 40%;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -65%);
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
    height: 50px;
    border-radius: 30px;
}

.mapboxgl-ctrl-geocoder--input {
    font-size: 1.5em;
    height: inherit;
    padding: 6px 60px;
}

.mapboxgl-ctrl-geocoder--icon-close {
    width: 34px;
    height: 40px;
    margin-right: 10px;
}

.mapboxgl-ctrl-geocoder--icon-search {
    width: 34px;
    height: 40px;
    left: 10px;
}

 

.map-view-btns-container {
    position: absolute;
    z-index: 100;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    left: 1%;

}

.TotalCases,
.Recovered,
.deaths {
    background-color: white;
    width: 60px;
    height: 60px;    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#map,
.mapboxgl-canvas-container {
    width: 100vw;
    height: 500px;
}

.mapboxgl-popup-content {
    width: fit-content;
    padding: 10px 15px;
}


.mapboxgl-popup-close-button {
    font-size: 25px;
}

.country-info-info {
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom:  1em;
    font-family: sans-serif;
}

.country-info-window {
    width: 25em;
    height: fit-content;
}


.selected-country-name {
    font-size: 1.5em;
    letter-spacing: 1px;
}

.flag {
    margin-right: 2.8em;
}

.flag img {
    width: 10em;
    height: 6em;
    border-radius: 10px;
    border: 1px solid;
}

.country-info-stats-cases,
.country-info-stats-recovered,
.country-info-stats-deaths,
.country-tests {
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: 1px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5em;
    color: #fff;
    font-size: 20px;
    margin-left: 5px;
}

.legend {
    position: absolute;
    top: 20.7em;
    left: 83em;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 20px;
    height: 141px;
    margin-bottom: 40px;
    width: 150px;
    background: rgba(255, 255, 255, 0.5);
    font-family: Arial, sans-serif;
    border-radius: 3px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.data-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 6em;
}

.search-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2em;
    margin-bottom: 1em;
}

.country-name {
    width: fit-content;
    padding: 10px 15px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: teal;
    border-radius: 20px;
    left: 50%;
}

.country-stats-container {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background: teal;
    margin-top: 25px;
    border-radius: 20px;
    align-items: center;
}


.country-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    border-right: 1px solid #fff;
    height: 200px;
    line-height: 5px;
    width: -webkit-fill-available;
}

.country-stats + p {
    margin-bottom: 15px;
}

.cases-number {
    font-size: 20px;
    margin-top: 8px;
}

.stay-safe-instructions {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.stats-news-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 35px;
    width: 100vw;
}

.stats-container {
    width: 700px;
    height: 700px;
    padding: 20px 20px;
    border: 1px solid lightgrey;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.table-title h3 {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 22px;
    padding: 0 5px;
}

.table-container {
    overflow-y: scroll;
    font-family: sans-serif;
}

#table-data {
    border-spacing: 0;
    border-collapse: collapse;
}

.country-location {
    text-align: left;
    min-width: 175px;
    padding-left: 0;
    padding: 0 8px 12px 8px;
    font-weight: 400;
    background-color: #BBDEFB;
    color: #70757a;
    font-size: 12px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.metric {
    padding: 0 8px 12px 8px;
    text-align: right;
    font-weight: 400;
    background-color: #ffffff;
    color: #70757a;
    font-size: 12px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-head  {
    width: 100px;
    text-align: center;
    border-bottom: 1.5px solid #0D47A1;
}

.table-head th {
    background-color: #BBDEFB;
}


td {
    padding: 0 8px 12px 8px;
    text-align: center;
    font-weight: 700;
    background-color: #ffffff;
    font-size: 14px;
    vertical-align: bottom;
}

.loc {
    text-align: left;
    min-width: 175px;
    padding-left: 0;
    padding: 0 8px 12px 8px;
    font-weight: 700;
    background-color: #ffffff;
    font-size: 14px;
}

table tr {
    height: 45px;
}

.country-info,
.WorldWide {
    border-bottom: 1.5px solid #0D47A1
}

.news-container {
   padding: 30px;
}

.glide__arrow--left {
    left: -1em;
}

.glide__arrow--right {
    right: 0em;
}

.glide__slide {
    width: 250px;
    border: 2px solid lightgray;
    border-radius: .5em;
}

/*.glide__slides {
    overflow: visible;
}

.glide__slide {
    filter: blur(6px);
    opacity: .7;
    transition: .3s linear;
}

.glide__slide--active {
    opacity: 1;
    filter: none;
    transform: scale(1.1);
} */

.news-container-heading {
    font-family: sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 600;
    border-bottom: 1px solid #333;
    margin-bottom: 1em;
    position: sticky;
    z-index: 100;
}

.news-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.news-card {
    display: flex;
   /* border: 2px solid lightgray;
    border-radius: .5em;*/
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    height: 350px;
    width: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-cover {
    width: inherit;
    height: 180px;
}

.news-cover img {
    width: inherit;
    height: 166px;
    border-radius: .5em;
}

.news-info {
    padding: 1em 1em;
    height: 170px;
}

.news-link a {
    letter-spacing: 1px;
    line-height: 2em;
    font-size: 1.2em;
    text-decoration: none;
    transition: .3s linear;
}

.news-link a:hover {
    color: pink;
}

.news-link a>i {
    font-size: .9em;
    padding-left: 0.5em;
}

.posting-time {
    font-size: .8em;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.news-source {
    font-size: 13px;
}

.news-card-title {
    font-size: 1.1em;
    font-weight: 500;
}

.stay-safe-container {
    width: 100vw;
    background-color: cadetblue;
    margin-top: 35px;
}

.stay-safe-title {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 500;
}

#legend {
    position: absolute;
    top: 1em;
    left: 1em;
}
 
@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
}



